* {
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}

a {
    text-decoration: none;
}

.block {
    width: 500px;
    height: 500px;
    background: #000;
}

.slider-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 400px;
    height: 500px;
}